{
  "username":    "userid+domain@company.com",
  "password":    "yourSuperSecretPassword",
  "blueprintId": "3125680778544",
  "appName":     "FEDSLED-SA-Storage-Workshop-",
  "users": [
    "student1",
    "student10"
  ]
}
