# file: lldp-config.yml
# Author: John Call - Red Hat
# invocation: ansible-playbook -i hosts lldp-config.yml
---
- hosts: all

  tasks:
  - name: Install lldpad
    yum:
      name: "lldpad"
      state: present

  - name: Configure LLDP to send hostname
    command: lldptool set-tlv -i {{ item }} -V sysName enableTx=yes
    when: "'en' in item"
    with_items: "{{ ansible_interfaces }}"
    tags:
      configure

  - name: Configure LLDP to send interface_name
    command: lldptool set-tlv -i {{ item }} -V portDesc enableTx=yes
    when: "'en' in item"
    with_items: "{{ ansible_interfaces }}"
    tags:
      configure

  - name: Start lldpad
    systemd:
      name: lldpad
      enabled: yes
      state: started
